<ion-app>
  <ion-router-outlet></ion-router-outlet>

  <ion-toolbar>
    <ion-title>
      Home Constructor
    </ion-title>
    <ion-menu-button slot="start" color="primary"></ion-menu-button>
  </ion-toolbar>

  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Start Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/home">
          <ion-icon name="home-outline"></ion-icon>
          <ion-title>
            Home
          </ion-title>
        </ion-item>

        <ion-item routerLink="/home-constructor">
          <ion-icon src="assets/icon/construtor.svg"></ion-icon>
          <ion-title>
            Home Constructor
          </ion-title>
        </ion-item>

        <ion-item routerLink="/credits">
          <ion-icon src="assets/icon/personCredit.svg"></ion-icon>
          <ion-title>
            Person Credit
          </ion-title>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>

</ion-app>