<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-subtitle>Welcome</ion-subtitle>
        <ion-card-title>Basic concept of MOBILE programming</ion-card-title>

        <img src="assets/img/welcome.jpg" alt="welcome">
      </ion-card-header>
    
      <ion-card-content>
        <div class="content">
          <ion-title>
            Bem vindo ao meu projeto Ionic
          </ion-title>
          <p>
            Esse é o meu portifólio que fiz como trabalho na Etec
          </p>
        </div>
      </ion-card-content>
    </ion-card>
    
  </div>
</ion-content>
